In [1]:
import sys
sys.executable

'/home/shobhitraj/week6(practice)/venv/bin/python'

In [3]:
import pandas as pd

df = pd.read_csv("../../../Day1/src/data/processed/final.csv")
df.head()

,patient_age,gender,bp_systolic,bp_diastolic,blood_urea,serum_creatinine,albumin,blood_glucose_random,diabetes,hypertension,...,bioavailability_pct,volume_of_distribution,kidney_cell_viability_pct,mitochondrial_damage,oxidative_stress,protein_binding_pct,serum_creatinine_change_pct,toxicity_score_composite,pk_toxic_interaction_score,ckd_risk_label
0,69,Male,136.5,90.4,45.3,1.42,2,175.2,0,1,...,53.69,1.49,63.2,0.54,0.30,96.2,34.88,1.66,0.29,2
1,32,Male,125.0,62.6,22.4,0.66,0,138.0,0,0,...,82.06,0.92,41.2,0.69,0.80,85.5,5.44,1.47,0.25,0
2,89,Female,124.2,71.1,36.0,1.72,0,177.2,0,0,...,35.96,0.51,80.2,0.89,0.54,53.3,35.12,1.79,0.35,1
3,78,Male,98.7,81.6,4.7,0.34,0,121.6,0,0,...,51.07,1.38,51.8,0.89,0.17,70.4,24.03,1.61,0.71,0
4,38,Male,147.7,81.4,56.6,1.39,0,65.4,0,1,...,59.58,1.40,27.9,0.47,0.25,29.7,24.84,1.70,0.38,2

## Step 2 — Feature Decisions

**Target**
- nephrotoxic_label

**Categorical Features**
- gender
- drug_name

**Numeric Features**
- All remaining columns except target

In [4]:
df_encoded = pd.get_dummies(
    df,
    columns=["gender", "drug_name"],
    drop_first=True
)

df_encoded.shape

(1345, 43)

In [5]:
from sklearn.model_selection import train_test_split

target = "nephrotoxic_label"

X = df_encoded.drop(columns=[target])
y = df_encoded[target]

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [2]:
import pandas as pd

df = pd.read_csv("../../../Day1/src/data/processed/final.csv")
df.head()

,patient_age,gender,bp_systolic,bp_diastolic,blood_urea,serum_creatinine,albumin,blood_glucose_random,diabetes,hypertension,...,bioavailability_pct,volume_of_distribution,kidney_cell_viability_pct,mitochondrial_damage,oxidative_stress,protein_binding_pct,serum_creatinine_change_pct,toxicity_score_composite,pk_toxic_interaction_score,ckd_risk_label
0,69,Male,136.5,90.4,45.3,1.42,2,175.2,0,1,...,53.69,1.49,63.2,0.54,0.30,96.2,34.88,1.66,0.29,2
1,32,Male,125.0,62.6,22.4,0.66,0,138.0,0,0,...,82.06,0.92,41.2,0.69,0.80,85.5,5.44,1.47,0.25,0
2,89,Female,124.2,71.1,36.0,1.72,0,177.2,0,0,...,35.96,0.51,80.2,0.89,0.54,53.3,35.12,1.79,0.35,1
3,78,Male,98.7,81.6,4.7,0.34,0,121.6,0,0,...,51.07,1.38,51.8,0.89,0.17,70.4,24.03,1.61,0.71,0
4,38,Male,147.7,81.4,56.6,1.39,0,65.4,0,1,...,59.58,1.40,27.9,0.47,0.25,29.7,24.84,1.70,0.38,2

In [3]:
df.isnull().sum()

patient_age                    0
gender                         0
bp_systolic                    0
bp_diastolic                   0
blood_urea                     0
serum_creatinine               0
albumin                        0
blood_glucose_random           0
diabetes                       0
hypertension                   0
drug_name                      0
drug_dosage_mg                 0
exposure_days                  0
nephrotoxic_label              0
mol_weight                     0
logp                           0
hbond_donors                   0
hbond_acceptors                0
rotatable_bonds                0
tpsa                           0
shape_index_3d                 0
inertia_x                      0
inertia_y                      0
inertia_z                      0
charge_distribution            0
clearance_rate                 0
half_life_hr                   0
bioavailability_pct            0
volume_of_distribution         0
kidney_cell_viability_pct      0
mitochondrial_damage           0
oxidative_stress               0
protein_binding_pct            0
serum_creatinine_change_pct    0
toxicity_score_composite       0
pk_toxic_interaction_score     0
ckd_risk_label                 0
dtype: int64